<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Components | Bigfoot Music Management</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header class="page-nav">
      <div class="page-nav__container">
        <h1>Bigfoot Music Management</h1>
        <nav>
          <section>
            <h2><a>Typography</a></h2>
            <ul>
              <li><a>h1, h3</a></li>
              <li><a>h2</a></li>
            </ul>
          </section>
          <section>
            <h2><a>Atoms</a></h2>
            <ul>
              <li><a>.header__logo</a></li>
              <li><a>.artist-section__title-dot</a></li>
            </ul>
          </section>
          <section>
            <h2><a>Header</a></h2>
            <ul>
              <li><a>.header</a></li>
              <li><a>.artist-section__title-dot</a></li>
            </ul>
          </section>
          <section>
            <h2><a>Artist Section</a></h2>
            <ul>
              <li><a>.header</a></li>
              <li><a>.artist-section</a></li>
            </ul>
          </section>
        </nav>
      </div>
    </header>
    <main class="main">
    <h1>Web Components</h1>
    
    <h2>Typography Defaults</h2>
    
    <section class="component">
      <h3 class="component__name">h1, h3</h3>
      <div class="component__img">
        <img srcset="images/header__title-wordmark.png 2x" src="images/header__title-wordmark.png" alt="header title">
      </div>
      <div class="component__code">
        <h1 class="header__title-wordmark rotate">Bigfoot</h1>
      </div>
    </section>
    
    <section class="component">
      <h3 class="component__name">h2</h3>
      <div class="component__img">
        <img srcset="images/header__title-subtitle.png 2x" src="images/header__title-subtitle.png" alt="header subtitle">
      </div>
      <div class="component__code">
        <h2 class="header__title-subtitle rotate">Artist & Music Management</h2>
      </div>
    </section>  
    
    <h2>Atoms</h2>
    
    <section class="component">
      <h3 class="component__name">.header__logo</h3>
      <div class="component__img">
        <img srcset="images/header__logo.png 2x" src="images/header__logo.png" alt="header logo">
      </div>
      <div class="component__code header__logo">
        <img src="https://wearebigfoot.com/src/gfx/mark.svg" alt="logo">
      </div>
    </section>

    <section class="component">
      <h3 class="component__name">.artist-section__title-dot</h3>
      <div class="component__img">
        <img srcset="images/artist-section__title-dot.png 2x" src="images/artist-section__title-dot.png" alt="dot">
      </div>
      <div class="component__code">
        <div class="artist-section__title-dot"></div>
      </div>
    </section>

    <h2>Header</h2>
    
    <section class="component">
      <h3 class="component__name">.header</h3>
      <div class="component__img">
        <img srcset="images/header.png 2x" src="images/header.png" alt="header">
      </div>
      <div class="component__code">
        <header class="header">
          <a href="https://wearebigfoot.com">
            <div class="header__logo">
              <img src="https://wearebigfoot.com/src/gfx/mark.svg" alt="logo">
            </div>
            <div class="header__title-container">
              <div class="header__title">
                <h1>Bigfoot</h1>
                <h2>Artist & Music Management</h2>
              </div>
            </div>
          </a>
        </header>
      </div>
    </section>

    <h2>Artist Section</h2>

    <section class="component">
      <h3 class="component__name">.artist-section</h3>
      <div class="component__img">
        <img srcset="images/artist-section.png 2x" src="images/artist-section.png" alt="artist section">
      </div>
      <div class="component__code">
        <div class="artist-section artist-section-1">
          <a href="#!">
            <div class="artist-section__title">
              <div class="artist-section__title-dot"></div>
              <h3 class="artist-section__title-name">Adam Beyer</h3>
            </div> 
            <div class="artist-section__img-lg"></div>
            <img class="artist-section__img-sm" srcset="images/artist-section__img-sm.png 2x" src="images/artist-section__img-sm.png" alt="artist section img sm">
          </a>
        </div>
      </div>
    </section>

    <h2>Footer</h2>
    </main>
  </body>
</html> 