<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Components | Bigfoot Music Management</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="content-page__body">
    <header class="page-nav">
      <div class="page-nav__container">
        <div class="component__code header__logo">
          <img src="https://wearebigfoot.com/src/gfx/mark.svg" alt="logo">
        </div>
        <h1>Bigfoot</h1>
        <h2>Artist &amp; Music Management</h2>
        <nav>
          <section class="page-nav__section">
            <h2><a href="#typography">Typography</a></h2>
            <ul>
              <li><a href="#h1">h1, h3</a></li>
              <li><a href="#h2">h2</a></li>
            </ul>
          </section>
          <section class="page-nav__section">
            <h2><a href="#atoms">Atoms</a></h2>
            <ul>
              <li><a href="#header__logo">.header__logo</a></li>
              <li><a href="#artist-section__title-dot">.artist-section__title-dot</a></li>
            </ul>
          </section>
          <section class="page-nav__section">
            <h2><a href="#header">Header</a></h2>
            <ul>
              <li><a href="#header">.header</a></li>
            </ul>
          </section>
          <section class="page-nav__section">
            <h2><a href="#artist-section">Artist Section</a></h2>
            <ul>
              <li><a href="#artist-section">.artist-section</a></li>
            </ul>
          </section>
          <section class="page-nav__section">
            <h2><a href="#footer">Footer</a></h2>
            <ul>
              <li><a href="#footer">.footer</a></li>
            </ul>
          </section>
        </nav>
      </div>
    </header>
    <main class="main">
    <h1>Web Components</h1>
    
    <h2 id="typography">Typography</h2>
    
    <section class="component">
      <h3 id="h1" class="component__name">h1, h3</h3>
      <div class="component__img">
        <img srcset="images/header__title-wordmark.png 2x" src="images/header__title-wordmark.png" alt="header title">
      </div>
      <div class="component__code">
        <h1 class="header__title-wordmark rotate">Bigfoot</h1>
      </div>
    </section>
    
    <section class="component">
      <h3 id="h2" class="component__name">h2</h3>
      <div class="component__img">
        <img srcset="images/header__title-subtitle.png 2x" src="images/header__title-subtitle.png" alt="header subtitle">
      </div>
      <div class="component__code">
        <h2 class="header__title-subtitle rotate">Artist & Music Management</h2>
      </div>
    </section>  
    
    <h2 id="atoms">Atoms</h2>
    
    <section class="component">
      <h3 id="header__logo" class="component__name">.header__logo</h3>
      <div class="component__img">
        <img srcset="images/header__logo.png 2x" src="images/header__logo.png" alt="header logo">
      </div>
      <div class="component__code header__logo">
        <img src="https://wearebigfoot.com/src/gfx/mark.svg" alt="logo">
      </div>
    </section>

    <section class="component">
      <h3 id="artist-section__title-dot" class="component__name">.artist-section__title-dot</h3>
      <div class="component__img">
        <img srcset="images/artist-section__title-dot.png 2x" src="images/artist-section__title-dot.png" alt="dot">
      </div>
      <div class="component__code">
        <div class="artist-section__title-dot"></div>
      </div>
    </section>

    <h2 id="header">Header</h2>
    
    <section class="component">
      <h3 id="header" class="component__name">.header</h3>
      <div class="component__img">
        <img srcset="images/header.png 2x" src="images/header.png" alt="header">
      </div>
      <div class="component__code">
        <header class="header">
          <a href="https://wearebigfoot.com">
            <div class="header__logo">
              <img src="https://wearebigfoot.com/src/gfx/mark.svg" alt="logo">
            </div>
            <div class="header__title-container">
              <div class="header__title">
                <h1>Bigfoot</h1>
                <h2>Artist & Music Management</h2>
              </div>
            </div>
          </a>
        </header>
      </div>
    </section>

    <h2 id="artist-section">Artist Section</h2>

    <section class="component">
      <h3 class="component__name">.artist-section</h3>
      <div class="component__img">
        <img srcset="images/artist-section.png 2x" src="images/artist-section.png" alt="artist section">
      </div>
      <div class="component__code">
        <div class="artist-section artist-section-1">
          <a href="#!">
            <div class="artist-section__title">
              <div class="artist-section__title-dot"></div>
              <h3 class="artist-section__title-name">Adam Beyer</h3>
            </div> 
            <div class="artist-section__img artist-section__img-lg img-lg-adam-beyer"></div>
            <div class="artist-section__img artist-section__img-sm img-sm-adam-beyer img-sm"></div>
          </a>
        </div>
      </div>
    </section>

    <h2 id="footer">Footer</h2>

    <section class="component">
      <h3 id="footer" class="component__name">.footer</h3>
      <div class="component__img">
        <img srcset="images/footer.png 2x" src="images/footer.png" alt="footer">
      </div>
      <div class="component__code">
        <footer class="footer">
          <nav>
            <a href="#!">
              <p class="footer__contact">Contact Us</p>
              <p class="footer__contact-email">hello@wearebigfoot.com</p>
            </a>
          </nav>
        </footer>
      </div>
    </section>
    </main>
  </body>
</html> 